﻿@model DAMSA.Models.Clase

@{
    ViewBag.Title = "Borrar";
}

<h2>BORRAR PROMEDIO</h2>

<h3>¿Esta seguro que desea borrar el Promedio?</h3>
<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Alumno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            Materia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>

        <dt>
            Profesor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Examen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Examen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promedio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Volver a Lista", "Index", new { }, new { @class = "btn btn-success" })
    </div>
    }
</div>
