﻿@model IEnumerable<DAMSA.Models.Clase>

@{
    ViewBag.Title = "Examen";
}

<h2>EXAMEN</h2>

<p>
    @Html.ActionLink("Registrar Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Alumno
        </th>
        <th>
            Materia
        </th>
        <th>
            Profesor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fch_Examen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promedio)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fch_Examen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promedio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClaseId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.ClaseId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ClaseId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
