﻿@model DAMSA.Models.Profesor

@{
    ViewBag.Title = "Borrar";
}

<h2>BORRAR PROFESOR</h2>

<h3>¿Está seguro que desea borrar este Profesor?</h3>
<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Mod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Volver a Lista", "Index", new { }, new { @class = "btn btn-success" })
    </div>
    }
</div>
