﻿@model DAMSA.Models.Profesor

@{
    ViewBag.Title = "Detalles";
}

<h2>DETALLES</h2>

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_Mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_Mod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProfesorId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver a Lista", "Index", new { }, new { @class = "btn btn-success" })
</p>
