﻿@model IEnumerable<DAMSA.Models.Alumno>

@{
    ViewBag.Title = "Alumnos";
}

<h2>ALUMNOS</h2>

<p>
    @Html.ActionLink("Registrar Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fch_Nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fch_Alta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fch_Mod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fch_Nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fch_Alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fch_Mod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlumnoId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id=item.AlumnoId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.AlumnoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
